@model Category
@{
    ViewData["Title"] = "Detail";
}


  <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">@Model.Name</h4>
                   
                      <p>
                      @Model.Description
                      </p>
                         <a asp-action="Index" class="btn btn-dark">
                                    Back
                              </a>
                    </div>
                  </div>
                  </div>

